l10n_ec_withdrawing/wizard/XSD/ats.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:element name="iva" type="ivaType"/>

	<xsd:simpleType name="numeroRucType">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10}001"/>

			<xsd:length value="13"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0[1-9]|[12][0-9]|3[01])[/](0[1-9]|1[012])[/](19|20)\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="establecimientoType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tarjetaCreditoType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ptoEmisionType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocialType">
		<xsd:annotation>
			<xsd:documentation>
				Razon Social del Informante
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="500"/>
			<xsd:minLength value="5"/>
			<xsd:pattern value="[a-zA-Z0-9][a-zA-Z0-9\s]+[a-zA-Z0-9\s]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoClienteType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="P"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="anioType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el anio correspondiente a la
				informacion que esta presentando el contribuyente, consta de cuatro
				digitos: Ej: 2003, 2004, 2005, etc.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2000"/>
			<xsd:maxInclusive value="9999"/>
			<xsd:pattern value="\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoComprobanteType">
		<xsd:annotation>
			<xsd:documentation>Se detalla los tipos de comprobantes vigentes
				segun el tipo de transaccion seleccionada
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoComprobanteCompraAnuType">
		<xsd:annotation>
			<xsd:documentation>Se detalla los tipos de comprobantes vigentes
				segun el tipo de transaccion seleccionada en Compras y Aulados
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="establecimientoRecapType">
		<xsd:annotation>
			<xsd:documentation>Se detalla los tipos de comprobantes vigentes para
				tarjetas de credito
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoFideicomisoType">
		<xsd:annotation>
			<xsd:documentation>Se detalla los tipos de Fideicomisos
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="exportacionDeType">
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tpIdClienteExType">
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="docModificadoType">
		<xsd:annotation>
			<xsd:documentation>Se detalla los tipos de comprobantes de venta
				autorizados
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="\d{2,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secuencialType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el secuencial del comprobante de venta
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="999999999"/>
			<xsd:pattern value="\d{1,9}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="validacionEstablecimientosType">
		<xsd:annotation>
			<xsd:documentation>Se detalla validacion para establecimiento
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="999999999"/>
			<xsd:pattern value="\d{3}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="secRetencionType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el secuencial del comprobante de
				retencion
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="999999999"/>
			<xsd:pattern value="\d{1,9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="validacionAutRetencionType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de autorizacion emitido por
				el sistema de Facturacion para emtir comprobantes de venta
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:pattern value="\d{3,49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="secModType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el secuencial del comprobante
				modificado
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999"/>
			<xsd:pattern value="\d{1,9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroComprobantesType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de comprobantes emitidos
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999999"/>
			<xsd:pattern value="\d{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroVouchersType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de vouchers emitidos
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="999999999"/>
			<xsd:pattern value="\d{1,9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="porcentajeAirType">
		<xsd:annotation>
			<xsd:documentation>Porcentaje AIR</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:maxInclusive value="100"/>
			<xsd:pattern value="[0-9]{1,3}\.[0-9]{2}|[0-9]{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="porRetFType">
		<xsd:annotation>
			<xsd:documentation>Porcentaje Retencion de Fideicomisos
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:maxInclusive value="100"/>
			<xsd:pattern value="[0-9]{1,3}\.[0-9]{2}|[0-9]{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codRetAirType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el concepto de retencion de Renta
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[A-Za-z0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="distAduaneroType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de distrito aduanero
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="regimenType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de regimen
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
			<xsd:minLength value="2"/>
			<xsd:pattern value="[a-zA-Z0-9][a-zA-Z0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="correlativoType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de correlativo
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:minLength value="6"/>
			<xsd:pattern value="[0-9]{6,8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fueType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero del Fue</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:minLength value="13"/>
			<xsd:pattern value="[0-9]{13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="verificadorType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="autorizacionType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de autorizacion emitido por
				el situracion para emtir comprobantes de venta
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="49"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[0-9]{3,49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="autRetencionType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de autorizacion emitido por
				el sistema de Facturacion para emtir comprobantes de venta
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="49"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[0-9]{3,49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="autModificadoType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de autorizacion emitido por
				el sistema de Facturacion para emtir comprobantes de venta
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="49"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[0-9]{3,49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroRecapType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de recaps emitidos
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[A-Za-z0-9]{3,15}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="codSustentoType">
		<xsd:annotation>
			<xsd:documentation>Este campo es obligatorio y su informacion es uno
				de los codigos de los tipos de sustento tributario
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="consumoCeroType">
		<xsd:annotation>
			<xsd:documentation>Consumo 0 %</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="consumoGravadoType">
		<xsd:annotation>
			<xsd:documentation>Consumo Gravado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalConsumoType">
		<xsd:annotation>
			<xsd:documentation>Total del Consumo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="comisionType">
		<xsd:annotation>
			<xsd:documentation>Comision</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseImponibleType">
		<xsd:annotation>
			<xsd:documentation>Base Imponible 0 %</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="montoIvaType">
		<xsd:annotation>
			<xsd:documentation>Monto de IVA</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="totalFType">
		<xsd:annotation>
			<xsd:documentation>Valor Total de Fideicomiso por tipo
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="individualFType">
		<xsd:annotation>
			<xsd:documentation>Valor Individual de Fideicomiso por tipo
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="valorRetBienesType">
		<xsd:annotation>
			<xsd:documentation>Valor Retenido de IVA - BIENES</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="valorRetServiciosType">
		<xsd:annotation>
			<xsd:documentation>Valor Retenido de IVA - SERVICIOS
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorFOBType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorFOBComprobanteType">
		<xsd:annotation>
			<xsd:documentation>Valor FOB del comprobante de Exportacion
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mesType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al periodo informado compuesto de dos
				digitos que van desde el 01 hasta el 12, corresponde al mes
				informado.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
			<xsd:minLength value="2"/>
			<xsd:pattern value="(0[1-9]|1[012])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tpIdProvType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al detalle del tipo de identificacio
				de Compras.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tpIdClienteType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al detalle del tipo de identificacion
				de Ventas.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="estRecapType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al detalle del tipo de identificacio
				de Recaps.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="docTranspType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[0-9a-zA-Z]{3,13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="idProvType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[0-9a-zA-Z]{3,13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="idClienteType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[0-9a-zA-Z]{3,13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ivaType">
		<xsd:sequence>
			<xsd:element name="TipoIDInformante">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="R"/>

						<xsd:length value="1"/>
						<xsd:whiteSpace value="collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IdInformante" type="numeroRucType"/>
			<xsd:element name="razonSocial" type="razonSocialType"/>
			<xsd:element name="Anio" type="anioType"/>
			<xsd:element name="Mes" type="mesType"/>

			<xsd:element name="numEstabRuc" type="numEstabRucType" minOccurs="0">
			</xsd:element>
			<xsd:element name="totalVentas" type="totalVentasType" minOccurs="0">
			</xsd:element>
			<xsd:element name="codigoOperativo" type="codigoOperativoType">
			</xsd:element>
			<xsd:element name="compras" type="comprasType" minOccurs="0">
			</xsd:element>
			<xsd:element name="ventas" type="ventasType" minOccurs="0">
			</xsd:element>
			<xsd:element name="ventasEstablecimiento" type="ventasEstablecimientoType" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="exportaciones" type="exportacionesType" minOccurs="0">
			</xsd:element>

			<xsd:element name="recap" type="recapType" minOccurs="0">
			</xsd:element>

			<xsd:element name="fideicomisos" type="fideicomisosType" minOccurs="0">

			</xsd:element>
			<xsd:element name="anulados" type="anuladosType" minOccurs="0">

			</xsd:element>
			<xsd:element name="rendFinancieros" type="rendFinancierosType" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="comprasType">
		<xsd:sequence>
			<xsd:element name="detalleCompras" type="detalleComprasType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="rendFinancierosType">
		<xsd:sequence>
			<xsd:element name="detalleRendFinancieros" type="detalleRendFinancierosType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="airType">
		<xsd:sequence>
			<xsd:element name="detalleAir" type="detalleAirComprasType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="airRecapType">
		<xsd:sequence>
			<xsd:element name="detalleAir" type="detalleAirType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="airRendType">
		<xsd:sequence>
			<xsd:element name="detalleAirRen" type="detalleAirRenType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fValorType">
		<xsd:sequence>
			<xsd:element name="detallefValor" type="detallefValorType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ventasType">
		<xsd:sequence>
			<xsd:element name="detalleVentas" type="detalleVentasType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="exportacionesType">
		<xsd:sequence>
			<xsd:element name="detalleExportaciones" type="detalleExportacionesType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="recapType">
		<xsd:sequence>
			<xsd:element name="detalleRecap" type="detalleRecapType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fideicomisosType">
		<xsd:sequence>
			<xsd:element name="detalleFideicomisos" type="detalleFideicomisosType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="anuladosType">
		<xsd:sequence>
			<xsd:element name="detalleAnulados" type="detalleAnuladosType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sustentoType">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="detalleComprasType">
		<xsd:sequence>
			<xsd:element name="codSustento" type="codSustentoType"/>
			<xsd:element name="tpIdProv" type="tpIdProvType"/>
			<xsd:element name="idProv" type="idProvType"/>
			<xsd:element name="tipoComprobante" type="tipoComprobanteCompraAnuType"/>
			<xsd:element name="tipoProv" maxOccurs="1" minOccurs="0" type="tipoProvType">
				<xsd:annotation>
					<xsd:documentation>
						campo nuevo 2013
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parteRel" type="parteRelType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						campo nuevo 2013
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaRegistro" type="fechaType"/>
			<xsd:element name="establecimiento" type="establecimientoType"/>
			<xsd:element name="puntoEmision" type="ptoEmisionType"/>
			<xsd:element name="secuencial" type="secuencialType"/>
			<xsd:element name="fechaEmision" type="fechaType"/>
			<xsd:element name="autorizacion" type="autorizacionType"/>
			<xsd:element name="baseNoGraIva" type="monedaType"/>
			<xsd:element name="baseImponible" type="monedaType"/>
			<xsd:element name="baseImpGrav" type="monedaType"/>
			<xsd:element name="baseImpExe" type="monedaType"/>
			<xsd:element name="montoIce" type="monedaType"/>
			<xsd:element name="montoIva" type="monedaType"/>
			<xsd:element name="valRetBien10" type="monedaType" minOccurs="0">
			</xsd:element>
			<xsd:element name="valRetServ20" type="monedaType" minOccurs="0">
			</xsd:element>
			<xsd:element name="valorRetBienes" type="monedaType"/>
			<xsd:element name="valorRetServicios" type="monedaType"/>
			<xsd:element name="valRetServ100" type="monedaType"/>

			<xsd:element name="totbasesImpReemb" type="monedaType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="pagoExterior" type="pagoExteriorType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						campo nuevo 2013
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="formasDePago" type="formasDePagoType" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						campo nuevo 2013
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="air" type="airType" minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="estabRetencion1" type="establecimientoType" minOccurs="0"/>
			<xsd:element name="ptoEmiRetencion1" type="ptoEmisionType" minOccurs="0"/>
			<xsd:element name="secRetencion1" type="secRetencionType" minOccurs="0"/>
			<xsd:element name="autRetencion1" type="autRetencionType" minOccurs="0"/>
			<xsd:element name="fechaEmiRet1" type="fechaType" minOccurs="0"/>
			<xsd:element name="estabRetencion2" type="establecimientoType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						eliminado se mantiene por compatibilidad
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptoEmiRetencion2" type="ptoEmisionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						eliminado se mantiene por compatibilidad
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="secRetencion2" type="secRetencionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						eliminado se mantiene por compatibilidad
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="autRetencion2" type="autRetencionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						eliminado se mantiene por compatibilidad
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaEmiRet2" type="fechaType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						eliminado se mantiene por compatibilidad
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="docModificado" type="docModificadoType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="estabModificado" type="establecimientoType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="ptoEmiModificado" type="ptoEmisionType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="secModificado" type="secModType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="autModificado" type="autModificadoType" maxOccurs="1" minOccurs="0"/>

			<xsd:element name="reembolsos" type="reembolsosType" maxOccurs="1" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleAirType">
		<xsd:sequence>
			<xsd:element name="codRetAir" type="codRetAirType"/>
			<xsd:element name="baseImpAir" type="baseImponibleType"/>
			<xsd:element name="porcentajeAir" type="porcentajeAirType"/>
			<xsd:element name="valRetAir" type="valorRetBienesType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="detalleAirComprasType">
		<xsd:complexContent>
			<xsd:extension base="detalleAirType">
				<xsd:sequence>
					<xsd:element name="fechaPagoDiv" type="fechaPagoDivType" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="imRentaSoc" type="imRentaSocType" maxOccurs="1" minOccurs="0">

			</xsd:element>
			<xsd:element name="anioUtDiv" type="anioUtDivType" maxOccurs="1" minOccurs="0">
			</xsd:element>
					
					<xsd:element name="numCajBan" type="numCajBanType" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="precCajBan" type="precCajBanType" maxOccurs="1" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>

		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="detalleRendFinancierosType">
		<xsd:sequence>
			<xsd:element name="retenido" type="tpIdProvType"/>
			<xsd:element name="idRetenido" type="idProvType"/>
			<xsd:element name="parteRelFid" type="aplicConvDobTribType" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="ahorroPN" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="totalDep" type="comisionType"/>
						<xsd:element name="rendGen" type="comisionType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ctaExenta" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="totalDep" type="comisionType"/>
						<xsd:element name="rendGen" type="comisionType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="retenciones" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="detRet" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="pagoExterior" type="pagoExteriorType" maxOccurs="1" minOccurs="0">
									</xsd:element>
									<xsd:element name="estabRetencion" type="validacionEstablecimientosType"/>
									<xsd:element name="ptoEmiRetencion" type="validacionEstablecimientosType"/>
									<xsd:element name="secRetencion" type="secRetencionType"/>
									<xsd:element name="autRetencion" type="autRetencionType"/>
									<xsd:element name="fechaEmiRet" type="fechaType"/>
									<xsd:element name="airRend" type="airRendType">
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="detalleAirRenType">
		<xsd:sequence>
			<xsd:element name="codRetAir" type="codRetAirType"/>
			<xsd:element name="deposito" type="baseImponibleType"/>
			<xsd:element name="baseImpAir" type="baseImponibleType"/>
			<xsd:element name="porcentajeAir" type="porcentajeAirType"/>
			<xsd:element name="valRetAir" type="valorRetBienesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detallefValorType">
		<xsd:sequence>
			<xsd:element name="tipoFideicomiso" type="tipoFideicomisoType"/>
			<xsd:element name="totalF" type="totalFType"/>
			<xsd:element name="individualF" type="individualFType"/>
			<xsd:element name="porRetF" type="porRetFType"/>
			<xsd:element name="valorRetF" type="valorRetBienesType"/>
			<!--Nuevos 2015 -->
			<xsd:element name="fechaPagoDiv" type="fechaType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="imRentaSoc" type="valorRetBienesType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="anioUtDiv" type="anioType" maxOccurs="1" minOccurs="0"/>
			<!--FIN Nuevos 2015 -->
			<!--Nuevos 2013 -->
			<xsd:element name="pagoExterior" type="pagoExteriorType" minOccurs="0" maxOccurs="1"/>
			<!--FIN Nuevos -->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleVentasType">
		<xsd:sequence>
			<xsd:element name="tpIdCliente" type="tpIdClienteType"/>
			<xsd:element name="idCliente" type="idClienteType"/>
			<xsd:element name="parteRelVtas" type="parteRelType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="tipoComprobante" type="tipoComprobanteType"/>
			<xsd:element name="numeroComprobantes" type="numeroComprobantesType">
				<xsd:annotation>
					<xsd:documentation>
						cambio a 12 digitos
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="baseNoGraIva" type="monedaType"/>
			<xsd:element name="baseImponible" type="monedaType"/>
			<xsd:element name="baseImpGrav" type="monedaType"/>
			<xsd:element name="montoIva" type="monedaType"/>
			<xsd:element name="montoIce" type="monedaType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="valorRetIva" type="monedaType"/>
			<xsd:element name="valorRetRenta" type="monedaType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleExportacionesType">
		<xsd:sequence>
			<xsd:element name="tpIdClienteEx" type="tpIdClienteExType" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="idClienteEx" type="idClienteType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="parteRelExp" type="parteRelType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="paisEfecExp" type="paisEfecPagoType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="pagoRegFis" type="parteRelType" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="exportacionDe" type="exportacionDeType"/>

			<xsd:element name="tipoComprobante" type="tipoComprobanteType"/>
			<xsd:element name="distAduanero" type="distAduaneroType" minOccurs="0"/>
			<xsd:element name="anio" type="anioType" minOccurs="0"/>
			<xsd:element name="regimen" type="regimenType" minOccurs="0"/>
			<xsd:element name="correlativo" type="correlativoType" minOccurs="0"/>
			<xsd:element name="verificador" type="verificadorType" minOccurs="0"/>
			<xsd:element name="docTransp" type="docTranspType" minOccurs="0"/>
			<xsd:element name="fechaEmbarque" type="fechaType"/>
			<xsd:element name="fue" type="fueType" minOccurs="0"/>
			<xsd:element name="valorFOB" type="valorFOBType"/>
			<xsd:element name="valorFOBComprobante" type="valorFOBComprobanteType"/>
			<xsd:element name="establecimiento" type="establecimientoType"/>
			<xsd:element name="puntoEmision" type="ptoEmisionType"/>
			<xsd:element name="secuencial" type="secuencialType"/>
			<xsd:element name="autorizacion" type="autorizacionType"/>
			<xsd:element name="fechaEmision" type="fechaType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleRecapType">
		<xsd:sequence>
			<xsd:element name="establecimientoRecap" type="estRecapType"/>
			<xsd:element name="identificacionRecap" type="identificacionRecapType"/>
			<xsd:element name="parteRelRec" type="parteRelType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="tipoComprobante" type="tipoComprobanteType"/>
			<xsd:element name="numeroRecap" type="numeroRecapType"/>
			<xsd:element name="fechaPago" type="fechaType"/>
			<xsd:element name="tarjetaCredito" type="tarjetaCreditoType"/>
			<xsd:element name="fechaEmisionRecap" type="fechaType"/>
			<xsd:element name="consumoCero" type="consumoCeroType"/>
			<xsd:element name="consumoGravado" type="consumoGravadoType"/>
			<xsd:element name="totalConsumo" type="totalConsumoType"/>
			<xsd:element name="montoIva" type="montoIvaType"/>
			<xsd:element name="comision" type="comisionType"/>
			<xsd:element name="numeroVouchers" type="numeroVouchersType"/>
			<xsd:element name="valRetBien10" type="valorRetBienesType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="valRetServ20" type="valorRetBienesType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="valorRetBienes" type="valorRetBienesType"/>
			<xsd:element name="valorRetServicios" type="valorRetServiciosType"/>
			<xsd:element name="valRetServ100" type="valorRetServiciosType"/>

			<!--Nuevos 2013 -->
			<xsd:element name="pagoExterior" type="pagoExteriorType" minOccurs="0" maxOccurs="1"/>
			<!--FIN Nuevos -->
			<xsd:element name="air" type="airRecapType" minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="establecimiento" type="validacionEstablecimientosType"/>
			<xsd:element name="puntoEmision" type="validacionEstablecimientosType"/>
			<xsd:element name="secuencial" type="secRetencionType"/>
			<xsd:element name="autorizacion" type="validacionAutRetencionType"/>
			<xsd:element name="fechaEmision" type="fechaType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleFideicomisosType">
		<xsd:sequence>

			<xsd:element name="tipoBeneficiario" type="tpIdProvType"/>
			<xsd:element name="idBeneficiario" type="idProvType"/>
			<xsd:element name="parteRelExp" type="parteRelType" maxOccurs="1" minOccurs="0"/>

            <xsd:element name="rucFideicomiso" type="numeroRucType"/>
            <xsd:element name="fValor" type="fValorType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- anulados -->
	<xsd:complexType name="detalleAnuladosType">
		<xsd:sequence>
			<xsd:element name="tipoComprobante" type="tipoComprobanteCompraAnuType"/>
			<xsd:element name="establecimiento" type="establecimientoType"/>
			<xsd:element name="puntoEmision" type="ptoEmisionType"/>
			<xsd:element name="secuencialInicio" type="secuencialType"/>
			<xsd:element name="secuencialFin" type="secuencialType"/>
			<xsd:element name="autorizacion" type="autorizacionType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="tipoProvType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="parteRelType">
		<xsd:restriction base="xsd:string">

			<xsd:length value="2"/>
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="NO"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="totalVentasType">
		<xsd:restriction base="xsd:decimal">
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}|[\-][0-9]{1,12}\.[0-9]{2}|[\-][0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="monedaType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="numCajBanType">
		<xsd:restriction base="xsd:int">

			<xsd:maxInclusive value="99999999"/>
			<xsd:pattern value="[0-9]{1,7}"/>

			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="precCajBanType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="99.99"/>
			<xsd:pattern value="[0-9]{1,2}\.[0-9]{2}|[0-9]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="identificacionRecapType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="[a-zA-Z0-9]{3,13}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="pagoExteriorType">
		<xsd:sequence>
			<xsd:element name="pagoLocExt" type="pagoLocExtType"/>
			<xsd:element name="paisEfecPago" type="paisEfecPagoType"/>
			<xsd:element name="aplicConvDobTrib" type="aplicConvDobTribType"/>
			<xsd:element name="pagExtSujRetNorLeg" type="aplicConvDobTribType"/>
			<xsd:element name="pagoRegFis" type="aplicConvDobTribType" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:simpleType name="pagoLocExtType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="02"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="paisEfecPagoType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}|NA"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="aplicConvDobTribType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="NO"/>
			<xsd:enumeration value="NA"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:complexType name="formasDePagoType">
		<xsd:sequence>
			<xsd:element name="formaPago" type="formaPagoType" maxOccurs="unbounded" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="formaPagoType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="fechaPagoDivType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="((0[1-9]|[12][0-9]|3[01])[/](0[1-9]|1[012])[/](19|20)\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="imRentaSocType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="999999999999.99"/>
			<xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="anioUtDivType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="4"/>
			<xsd:pattern value="\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="reembolsosType">
		<xsd:sequence>
			<xsd:element name="reembolso" type="reembolsoType" maxOccurs="unbounded" minOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="reembolsoType">
		<xsd:sequence>
			<xsd:element name="tipoComprobanteReemb" type="tipoComprobanteReembType">
			</xsd:element>
			<xsd:element name="tpIdProvReemb" type="tpIdProvReembType">
			</xsd:element>
			<xsd:element name="idProvReemb" type="idProvType">
			</xsd:element>
			<xsd:element name="establecimientoReemb" type="establecimientoType">
			</xsd:element>
			<xsd:element name="puntoEmisionReemb" type="ptoEmisionType">
			</xsd:element>
			<xsd:element name="secuencialReemb" type="secuencialType"/>
			<xsd:element name="fechaEmisionReemb" type="fechaType"/>
			<xsd:element name="autorizacionReemb" type="autorizacionReembType">
			</xsd:element>
			<xsd:element name="baseImponibleReemb" type="monedaType"/>
			<xsd:element name="baseImpGravReemb" type="monedaType"/>
			<xsd:element name="baseNoGraIvaReemb" type="monedaType"/>
			<xsd:element name="baseImpExeReemb" type="monedaType"/>

			<xsd:element name="montoIceRemb" type="monedaType"/>
			<xsd:element name="montoIvaRemb" type="monedaType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="tpIdProvReembType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tipoComprobanteReembType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{2,3}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="autorizacionReembType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3,49}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="ventasEstablecimientoType">
		<xsd:sequence>
			<xsd:element name="ventaEst" type="ventaEstType" maxOccurs="unbounded" minOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ventaEstType">
		<xsd:sequence>
			<xsd:element name="codEstab" type="ventasEstabType"/>
			<xsd:element name="ventasEstab" type="totalVentasType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="ventasEstabType">
		<xsd:restriction base="xsd:integer">
			<xsd:minExclusive value="000"/>
			<xsd:maxInclusive value="999"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="\d{3}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="codigoOperativoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="IVA"/>
			<xsd:length value="3"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="numEstabRucType">
		<xsd:restriction base="xsd:integer">
			<xsd:minExclusive value="000"/>
			<xsd:maxInclusive value="999"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="\d{3}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TipoIDInformanteType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
</xsd:schema>
